.contenedor {
    display: flex;
    flex-direction: row;
}

.item {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

#rojo {
    background-color: red;
}

#verde {
    background-color: green;
}

#azul {
    background-color: blue;
}