.contenedor {
    border: 2px solid black;
	margin:auto;
	width: 90%;
	position: relative;
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
    /* No se hacer este ejercicio */
}

.itemR{
    color: white;
    background-color: red;
    text-align: center;
    line-height: 150px;
    margin: 0 auto;
    width: 40%;
	height: 40%;
    font-size: 30px;
}

.itemB{
    color: white;
    background-color: blue;
    text-align: center;
    line-height: 150px;
    margin: 0 auto;
    width: 40%;
	height: 40%;
    font-size: 30px;
}

.itemG{
    color: white;
    background-color: green;
    text-align: center;
    line-height: 150px;
    margin: 0 auto;
    width: 40%;
	height: 40%;
    font-size: 30px;
}