.contenedor {
    border: 2px solid black;
	margin:auto;
	width: 40%;
	height: 500px;
	position: relative;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}

.itemR{
    color: white;
    background-color: red;
    margin: 0;
    width: 40%;
	height: 40%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemB{
    color: white;
    background-color: blue;
    margin: 0;
    width: 40%;
	height: 40%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemG{
    color: white;
    background-color: green;
    margin: 0;
    width: 40%;
	height: 40%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}