<div style="margin-left: 30px">
    <h1>Bienvenido/a {{persona}}!!</h1>
    <p>Este es el inicio</p>

    <p><a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a></p>
</div>