<div style="margin-top: 50px;">
    <div class="row">
        <h1 class="text-start">Hola {{persona}}!!</h1>
        <p><a class="btn btn-danger" href="/admin/login/logout">Cerrar Sessión<i class="fas fa-sign-out-alt"></i></a></p>
    </div>
</div>